<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="keywords" content="">
		<meta name="description" content="Article description to make google serach access">
		<link rel="shortcut icon" type="image/png" href="assets/images/logo/favicon.png"/>
		<title>Article Website - Think,Smile,Explore your world.</title>
		
		<!--CSS files are linked here-->
		<link rel="stylesheet" type="text/css" href="assets/css/main-sheet.css" >
 
		<!-- REVOLUTION BANNER CSS SETTINGS -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/revolution-slider.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="assets/css/jssocials.css" />
    	<link rel="stylesheet" type="text/css" href="assets/css/jssocials-theme-flat.css" />
		<link href="https://fonts.googleapis.com/css?family=Lato|BioRhyme:300|Rubik|Open+Sans" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="" >
					<nav class="navbar navbar-default">
					    <div class="navbar-header">
					    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>                        
							</button>
					      	<a class="navbar-brand" href="/"><img src="assets/images/logo/article-logo.png" alt="article-logo" /></a>
					    </div>
					    <div class="collapse navbar-collapse" id="myNavbar">
						    <ul class="nav navbar-nav navbar-right">
								<a href="https://app.engagespot.co" class="btn button-link rose-madder" role="button">Login</a>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li <?php if($page === 'home') echo 'class="clicked"';?><a href="index.php">Home</a></li>
				  				<li <?php if($page === 'pricing') echo 'class="clicked"';?><a href="pricing.php">Link 1</a></li>
				  				<li <?php if($page === 'features') echo 'class="clicked"';?><a href="features.php">Link 2</a></li>
				  				<li><a href="https://engagespot.co/blog/">Blog</a></li>
				  				<li <?php if($page === 'case_studies') echo 'class="clicked"';?><a href="case-studies.php">Reviews</a></li>
				  				<li <?php if($page === 'contact') echo 'class="clicked"';?><a href="contact-page.php">Contact</a></li>
						    </ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="layout-nav">
						<div class="scrolling-tabs-container">
							<div class="fade-left">
								<i aria-hidden="true" class="fa fa-angle-left"></i>
							</div>
							<div class="fade-right">
								<i aria-hidden="true" class="fa fa-angle-right"></i>
							</div>
							<ul class="nav-links scrolling-tabs">
								<li class="home active"><a title="Profile Settings" href="/profile">
									<span>
										Category 1
									</span></a>
								</li>
								<li class=""><a title="Account" href="/profile/account">
									<span>
										Category 2
									</span></a>
								</li>
								<li class=""><a title="Applications" href="/profile/applications">
									<span>
										Category 3
									</span></a>
								</li>
								<li class=""><a title="Account" href="/profile/account">
									<span>
										Category 4
									</span></a>
								</li>
								<li class=""><a title="Applications" href="/profile/applications">
									<span>
										Category 5
									</span></a>
								</li>
								<li class=""><a title="Account" href="/profile/account">
									<span>
										Category 6
									</span></a>
								</li>
								<li class=""><a title="Applications" href="/profile/applications">
									<span>
										category 7
									</span></a>
								</li>
							</ul>
						</div>
				</div>
				<div class="content-wrapper page-with-layout-nav">
					<div class="alert-wrapper">
						<div class="flash-container flash-container-page">
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id ="top-banner" >
					<h2>Category 1</h2>
					<p>Find out the Best in our dreams...Dreams always comes true.</p>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/profile_pic.png" alt="profile picture" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/profile_pic.png" alt="profile picture" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/profile_pic.png" alt="profile picture" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/profile_pic.png" alt="profile picture" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/profile_pic.png" alt="profile picture" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/profile.png" alt="profile picture" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/male-student.png" alt="profile picture" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/female-teacher.png" alt="profile picture" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/male-teacher.png" alt="profile picture" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" >
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 single-article-box">
								<div class="single-article-image">
									<img src="assets/images/article/single-article1.jpg" alt="top-category" />
									<div class="single-article-image-overlay">
									</div>
									<div class="share"></div>
								</div>
								<div class="single-article-details">
									<div class="profile-img">
										<img src="assets/images/icons/user/female-student.png" alt="profile picture" />
									</div>
									<div class="share-btn">
										<img src="assets/images/icons/share-lite.png" alt="share" />
									</div>
									<div class="like-btn">
										<img src="assets/images/icons/like-dark.png" alt="share" />
									</div>
								</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 load-more-article">
						<button type="button" class=" view-more-btn btn btn-danger">View More</button>
					</div>
			</div>
		</div>

		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 footer" id="footer" >
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-left">
						<img src="assets/images/logo/article-logo.png" alt="article-logo" />
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 categories">
						<h6>Categories</h6>
						<ul>
							<li>Writings</li>
							<li>Drawings</li>
							<li>Biography</li>
							<li>History</li>
							<li>Novel</li>
							<li>Stories</li>
							<li>Short Stories</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 authors">
						<h6>Authors</h6>
						<ul>
							<li>Krishnan H</li>
							<li>Sarath M</li>
							<li>Rijaz Aliyar</li>
							<li>Sagar J</li>
							<li>Naveen</li>
							<li>Dineesh</li>
							<li>JK</li>
						</ul>  
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 social-links">
						<h6>Social Links</h6>
						  
					</div>
				</div>
			</div>
		<!--Javascript files are linked here-->
        <script type="text/javascript" src="assets/js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/main-script.js"></script>
        <!-- jQuery REVOLUTION Slider  -->
        <script src="assets/js/jssocials.min.js"></script>
	</body>
</html>